<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>Dyego Penha</p>

<p>A soma eh <%= 1 + 1 %></p>
<p>Seu nome de tras para frente eh: <%= "Dyego".reverse %></p>

<% x = "minha variavel X" %>
<p>Imprimindo a variavel x: <%= x %></p>
<p>A data de hoje eh: <%= data_br(Date.today) %></p>

<ul>
    <li>
        <%= link_to "Cadastro de Moedas", "/coins" %>
    </li>
</ul>

<p>
Voce esta em ambiente de <strong><%= ambiente_rails %></strong>
</p>