<h1>Welcome#index</h1>
<p>O idioma usado nessa aplicacao eh: <strong><%= t('actual_locale') %></strong></p>
<p><strong>Data:</strong> <%= l(Date.today) %></p>
<p><%= t('hello') %></p>

<%= render "menu" %>

<p>
Voce esta em ambiente de <strong><%= ambiente_rails %></strong>
</p>

<p>
Eu sou uma variavel de instancia/sessao <strong><%= @meu_nome %></strong>
</p>

<p>
Meu curso eh o curso de <strong><%= @meu_curso %></strong>
</p>